<div class="movie-list">
    <h1>Top Movies</h1> <br>
    <div class="row">
      <div class="col-md-2"></div>

      <div class="col-md-8">
        <% @ratings.each do |rating| %>
              <% movie = Movie.find(rating.cacheable_id) %>
              <div class="col-md-4">
                <div class="jumbotron" style="height: auto;">
                 <h2><%= link_to movie.title, movie_path(movie) %></h2> <br>
                  <%= link_to image_tag(movie.image.url, height: 400), movie_path(movie) %> <br> <br>
                  <h2>Rating: <%= rating.avg.to_s.first(3) %></h2>
                </div>
              </div>
        <% end %>
      </div>
      <div class="col-md-2"></div>
    </div>
</div>